/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: wheat;
    max-width: 100vh;
    max-width: 100vw;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

h1 {
    font-size: 2.986rem;
}
h4 {
    font-size: 1.728rem;
}

p {
    font-size: 1rem;
}

/* estilizando o body */
header,
main,
footer {
    padding: 2rem;
}

/* estilizando o main */
.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between ;

    gap: 1rem;

    background-color: white;
    border-radius: 15px;

    padding: 1rem;
}
.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#grade {
    width: 5rem;
}
textarea {
    resize: none;
  }